### Домашнее задание №6
1. взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)
2. сделать feature engineering
3. обучить любой классификатор (какой вам нравится)
4. далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть
5. применить random negative sampling для построения классификатора в новых условиях
6. сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)
7. поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

#### 1. взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, roc_auc_score, precision_score, classification_report, precision_recall_curve, confusion_matrix

from sklearn.model_selection import train_test_split
#from sklearn.feature_extraction.text import TfidfVectorizer
import itertools

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("churn_data.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

#### 2. сделать feature engineering

Посмотрим на распределение классов:

In [3]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

Не самое плохое распределение (1 к 4)

Давайте построим модель. Сразу же будем работать с использованием sklearn pipeline

In [4]:
#разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(df, df['Exited'], random_state=0)

- Категориальные признаки закодируем с помощью OneHotEncoding
- Вещественные оставим пока как есть

In [5]:
#соберем наш простой pipeline, но нам понадобится написать класс для выбора нужного поля
class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        return X[self.column]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    Преобразователь для выбора одного столбца из фрейма данных для выполнения дополнительных преобразований в
    Использовать для числовых столбцов в данных
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        # print(test_columns)
        for col_ in self.columns:
            # print(col_)
            if col_ not in test_columns:
                X[col_] = 0
        return X[self.columns]

In [6]:
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

Зададим списки признаков

In [7]:
categorical_columns = ['Geography', 'Gender', 'Tenure', 'HasCrCard', 'IsActiveMember']
continuous_columns = ['CreditScore', 'Age', 'Balance', 'NumOfProducts', 'EstimatedSalary']

Теперь нам нужно под каждый признак создать трансформер и объединить их в список (сделаем это в цикле, чтобы не мучиться)

In [8]:
final_transformers = list()

for cat_col in categorical_columns:
    cat_transformer = Pipeline([
                ('selector', FeatureSelector(column=cat_col)),
                ('ohe', OHEEncoder(key=cat_col))
            ])
    final_transformers.append((cat_col, cat_transformer))
    
for cont_col in continuous_columns:
    cont_transformer = Pipeline([
                ('selector', NumberSelector(key=cont_col)),
                ( 'std_scaler', StandardScaler())
            ])
    final_transformers.append((cont_col, cont_transformer))

In [9]:
final_transformers

[('Geography',
  Pipeline(steps=[('selector', FeatureSelector(column='Geography')),
                  ('ohe', OHEEncoder(key='Geography'))])),
 ('Gender',
  Pipeline(steps=[('selector', FeatureSelector(column='Gender')),
                  ('ohe', OHEEncoder(key='Gender'))])),
 ('Tenure',
  Pipeline(steps=[('selector', FeatureSelector(column='Tenure')),
                  ('ohe', OHEEncoder(key='Tenure'))])),
 ('HasCrCard',
  Pipeline(steps=[('selector', FeatureSelector(column='HasCrCard')),
                  ('ohe', OHEEncoder(key='HasCrCard'))])),
 ('IsActiveMember',
  Pipeline(steps=[('selector', FeatureSelector(column='IsActiveMember')),
                  ('ohe', OHEEncoder(key='IsActiveMember'))])),
 ('CreditScore',
  Pipeline(steps=[('selector', NumberSelector(key='CreditScore')),
                  ('std_scaler', StandardScaler())])),
 ('Age',
  Pipeline(steps=[('selector', NumberSelector(key='Age')),
                  ('std_scaler', StandardScaler())])),
 ('Balance',
  Pipeline(steps=[('selector', NumberSelector(key='Balance')),
                  ('std_scaler', StandardScaler())])),
 ('NumOfProducts',
  Pipeline(steps=[('selector', NumberSelector(key='NumOfProducts')),
                  ('std_scaler', StandardScaler())])),
 ('EstimatedSalary',
  Pipeline(steps=[('selector', NumberSelector(key='EstimatedSalary')),
                  ('std_scaler', StandardScaler())]))]

Объединим все это в единый пайплайн

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
feats = FeatureUnion(final_transformers)

feature_processing = Pipeline([('feats', feats)])

Теперь у нас есть пайплайн, который готовит признаки для моделирования.

#### 3. обучить любой классификатор (какой вам нравится)

In [11]:
from sklearn.ensemble import HistGradientBoostingClassifier
from catboost import CatBoostClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', CatBoostClassifier(random_state=42, verbose = False)),
])

Обучим модель

In [12]:
#обучим наш пайплайн
pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('Geography',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Geography')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Geography'))])),
                                                ('Gender',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Gender'))])),
                                                ('Tenure',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Tenu...
                                                                 ('std_scaler',
                                                                  StandardScaler())])),
                                                ('NumOfProducts',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='NumOfProducts')),
                                                                 ('std_scaler',
                                                                  StandardScaler())])),
                                                ('EstimatedSalary',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='EstimatedSalary')),
                                                                 ('std_scaler',
                                                                  StandardScaler())]))])),
                ('classifier',
                 <catboost.core.CatBoostClassifier object at 0x000001D78CF7B730>)])

In [13]:
#наши прогнозы для тестовой выборки
preds_boost = pipeline.predict_proba(X_test)[:, 1]
preds_boost[:10]

array([0.46917705, 0.24499582, 0.11518556, 0.04942908, 0.02369729,
       0.87775373, 0.02032456, 0.13019025, 0.16192791, 0.91391094])

Также нам нужно от вероятностей перейти к меткам классов. Для этого нужно подобрать порог, после которого мы считаем, что объект можно отнести к классу 1 (если вероятность больше порога - размечаем объект как класс 1, если нет - класс 0)

In [14]:
precision, recall, thresholds = precision_recall_curve(y_test, preds_boost)

b=1
fscore = (1+b**2)*(precision * recall) / (b**2*precision + recall)

# fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print('Best Threshold=%f, F-Score=%.3f, Precision=%.3f, Recall=%.3f' % (thresholds[ix], 
                                                                        fscore[ix],
                                                                        precision[ix],
                                                                        recall[ix]))

Best Threshold=0.384476, F-Score=0.645, Precision=0.661, Recall=0.629

In [15]:
# Запишем метрики в словарь
metrics = {
    'Variant': [
    'Basic', 
    ],
    'precision': [precision[ix]],
    'recall': [recall[ix]],
    'f_score': [fscore[ix]]
     }

In [16]:
metrics

{'Variant': ['Basic'],
 'precision': [0.6611570247933884],
 'recall': [0.6286836935166994],
 'f_score': [0.6445115810674723]}

#### 4. далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть

In [17]:
df = df.sort_values('Exited')

In [18]:
U = df[:9000]
U

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
4999,5000,15710408,Cunningham,584,Spain,Female,38,3,0.00,2,1,1,4525.40,0
6317,6318,15654878,Yobanna,450,France,Male,29,7,117199.80,1,1,1,43480.63,0
6316,6317,15765643,Hamilton,725,France,Male,37,6,124348.38,2,0,1,176984.34,0
6313,6314,15812482,Young,575,France,Male,27,3,139301.68,1,1,0,99843.98,0
6312,6313,15648136,Green,658,Germany,Female,28,9,152812.58,1,1,0,166682.57,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6065,6066,15674720,Smith,691,Germany,Female,37,7,123067.63,1,1,1,98162.44,1
2032,2033,15658716,Banks,667,Germany,Female,37,5,92171.35,3,1,0,178106.34,1
7502,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
7504,7505,15587038,Ogochukwu,654,Spain,Female,32,2,0.00,1,1,1,51972.92,1
2005,2006,15725835,West,785,Germany,Female,32,3,124493.03,2,0,1,52583.79,1

In [19]:
P = df[9000:]
P

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7506,7507,15700300,Okoli,674,Germany,Female,44,4,131593.85,1,0,1,171345.02,1
7507,7508,15642001,Lorenzen,576,Germany,Male,44,9,119530.52,1,1,0,119056.68,1
3180,3181,15750447,Ozoemena,678,France,Female,60,10,117738.81,1,1,0,147489.76,1
3184,3185,15631070,Gerasimova,667,Germany,Male,55,9,154393.43,1,1,1,137674.96,1
2007,2008,15727384,Chukwuemeka,705,Germany,Female,43,10,146547.78,1,0,1,10072.55,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5700,5701,15812888,Perreault,447,France,Male,41,3,0.00,4,1,1,197490.39,1
1583,1584,15730394,Crowther,709,France,Female,43,8,0.00,2,0,0,168035.62,1
3452,3453,15722965,Yefimova,757,France,Male,57,3,89079.41,1,1,1,53179.21,1
1676,1677,15658057,Padovesi,812,Spain,Female,44,8,0.00,3,1,0,66926.83,1
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1

#### 5. применить random negative sampling для построения классификатора в новых условиях

In [20]:
U_train = U.sample(n = 5000)
U_train

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
7625,7626,15689692,Walker,598,Germany,Male,19,3,150348.37,1,1,1,173784.04,0
7742,7743,15571940,Afamefula,579,Spain,Male,22,3,118680.57,1,1,1,49829.80,0
6618,6619,15756301,Daniels,636,Germany,Female,29,3,97325.15,1,0,1,131924.38,0
5534,5535,15678725,Chamberlin,658,France,Female,29,8,0.00,2,0,1,130461.09,0
7145,7146,15723827,Macartney,683,France,Male,30,4,114779.35,1,0,0,183171.47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,15774536,He,607,France,Female,32,6,0.00,2,0,0,196062.01,0
3025,3026,15745232,Chikelu,759,France,Female,39,6,0.00,2,1,1,140497.67,0
4358,4359,15759751,Tsui,483,France,Male,48,1,0.00,2,1,1,110059.38,0
1000,1001,15691111,Pai,648,Germany,Female,42,8,121980.56,2,1,0,4027.02,0
4101,4102,15589544,Wallis,673,Spain,Female,57,4,0.00,2,1,1,49684.09,0

In [21]:
U_train['Exited'] = 0
U_train['Exited'].value_counts()

0    5000
Name: Exited, dtype: int64

In [22]:
df_UP = df_merged = P.append(U_train, ignore_index=True)
df_UP['Exited'].value_counts()

0    5000
1    1000
Name: Exited, dtype: int64

In [23]:
#разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(df_UP, df_UP['Exited'], random_state=0)

- Категориальные признаки закодируем с помощью OneHotEncoding
- Вещественные оставим пока как есть

Зададим списки признаков

In [24]:
categorical_columns = ['Geography', 'Gender', 'Tenure', 'HasCrCard', 'IsActiveMember']
continuous_columns = ['CreditScore', 'Age', 'Balance', 'NumOfProducts', 'EstimatedSalary']

Теперь нам нужно под каждый признак создать трансформер и объединить их в список (сделаем это в цикле, чтобы не мучиться)

In [25]:
final_transformers = list()

for cat_col in categorical_columns:
    cat_transformer = Pipeline([
                ('selector', FeatureSelector(column=cat_col)),
                ('ohe', OHEEncoder(key=cat_col))
            ])
    final_transformers.append((cat_col, cat_transformer))
    
for cont_col in continuous_columns:
    cont_transformer = Pipeline([
                ('selector', NumberSelector(key=cont_col)),
                ( 'std_scaler', StandardScaler())
            ])
    final_transformers.append((cont_col, cont_transformer))

Объединим все это в единый пайплайн

In [26]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion
feats = FeatureUnion(final_transformers)

feature_processing = Pipeline([('feats', feats)])

Теперь у нас есть пайплайн, который готовит признаки для моделирования.

In [27]:
from sklearn.ensemble import HistGradientBoostingClassifier
from catboost import CatBoostClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', CatBoostClassifier(random_state=42, verbose = False)),
])

Обучим модель

In [28]:
#обучим наш пайплайн
pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('Geography',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Geography')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Geography'))])),
                                                ('Gender',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='Gender'))])),
                                                ('Tenure',
                                                 Pipeline(steps=[('selector',
                                                                  FeatureSelector(column='Tenu...
                                                                 ('std_scaler',
                                                                  StandardScaler())])),
                                                ('NumOfProducts',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='NumOfProducts')),
                                                                 ('std_scaler',
                                                                  StandardScaler())])),
                                                ('EstimatedSalary',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='EstimatedSalary')),
                                                                 ('std_scaler',
                                                                  StandardScaler())]))])),
                ('classifier',
                 <catboost.core.CatBoostClassifier object at 0x000001D78CF78E80>)])

In [29]:
#наши прогнозы для тестовой выборки
preds_boost = pipeline.predict_proba(X_test)[:, 1]
preds_boost[:10]

array([0.03464402, 0.02518313, 0.12436497, 0.45479019, 0.02222139,
       0.06081233, 0.15688504, 0.31318217, 0.04925541, 0.58097945])

Также нам нужно от вероятностей перейти к меткам классов. Для этого нужно подобрать порог, после которого мы считаем, что объект можно отнести к классу 1 (если вероятность больше порога - размечаем объект как класс 1, если нет - класс 0)

In [30]:
precision_RNS, recall_RNS, thresholds_RNS = precision_recall_curve(y_test, preds_boost)

b=1
fscore_RNS = (1+b**2)*(precision_RNS * recall_RNS) / (b**2*precision_RNS + recall_RNS)

# fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix_RNS = np.argmax(fscore_RNS)
print('Best Threshold=%f, F-Score=%.3f, Precision=%.3f, Recall=%.3f' % (thresholds_RNS[ix_RNS], 
                                                                        fscore_RNS[ix_RNS],
                                                                        precision_RNS[ix_RNS],
                                                                        recall_RNS[ix_RNS]))

Best Threshold=0.266520, F-Score=0.522, Precision=0.462, Recall=0.600

In [31]:
# Запишем метрики в словарь
metrics = {
    'Variant': [
    'Basic',
    'RNS_10'
    ],
    'precision': [precision[ix], precision_RNS[ix_RNS]],
    'recall': [recall[ix], recall_RNS[ix_RNS]],
    'f_score': [fscore[ix], fscore_RNS[ix_RNS]]
     }

In [32]:
metrics

{'Variant': ['Basic', 'RNS_10'],
 'precision': [0.6611570247933884, 0.46226415094339623],
 'recall': [0.6286836935166994, 0.6],
 'f_score': [0.6445115810674723, 0.5222024866785079]}

#### 6. сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)

In [33]:
pd.DataFrame(metrics)

  Variant  precision    recall   f_score
0   Basic   0.661157  0.628684  0.644512
1  RNS_10   0.462264  0.600000  0.522202

Видим, что метрики стали ниже

#### 7. поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

Уменьшим долю P

In [34]:
U_train = U.sample(n = 6000)
U_train['Exited'] = 0
df_UP = df_merged = P.append(U_train, ignore_index=True)
#разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(df_UP, df_UP['Exited'], random_state=0)
feature_processing = Pipeline([('feats', feats)])
pipeline = Pipeline([
    ('features', feats),
    ('classifier', CatBoostClassifier(random_state=42, verbose = False)),
])
# обучим модель
pipeline.fit(X_train, y_train)
#наши прогнозы для тестовой выборки
preds_boost = pipeline.predict_proba(X_test)[:, 1]

precision_RNS_2, recall_RNS_2, thresholds_RNS_2 = precision_recall_curve(y_test, preds_boost)
b=1
fscore_RNS_2 = (1+b**2)*(precision_RNS_2 * recall_RNS_2) / (b**2*precision_RNS_2 + recall_RNS_2)

# fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix_RNS_2 = np.argmax(fscore_RNS_2)
print('Best Threshold=%f, F-Score=%.3f, Precision=%.3f, Recall=%.3f' % (thresholds_RNS_2[ix_RNS_2], 
                                                                        fscore_RNS_2[ix_RNS_2],
                                                                        precision_RNS_2[ix_RNS_2],
                                                                        recall_RNS_2[ix_RNS_2]))

Best Threshold=0.182885, F-Score=0.476, Precision=0.368, Recall=0.672

In [35]:
# Запишем метрики в словарь
metrics = {
    'Variant': [
    'Basic',
    'RNS_5000',
    'RNS_6000'
    ],
    'precision': [precision[ix], precision_RNS[ix_RNS], precision_RNS_2[ix_RNS_2]],
    'recall': [recall[ix], recall_RNS[ix_RNS], recall_RNS_2[ix_RNS_2]],
    'f_score': [fscore[ix], fscore_RNS[ix_RNS], fscore_RNS_2[ix_RNS_2]]
     }

In [36]:
metrics

{'Variant': ['Basic', 'RNS_5000', 'RNS_6000'],
 'precision': [0.6611570247933884, 0.46226415094339623, 0.3684210526315789],
 'recall': [0.6286836935166994, 0.6, 0.672],
 'f_score': [0.6445115810674723, 0.5222024866785079, 0.47592067988668557]}

In [37]:
pd.DataFrame(metrics)

    Variant  precision    recall   f_score
0     Basic   0.661157  0.628684  0.644512
1  RNS_5000   0.462264  0.600000  0.522202
2  RNS_6000   0.368421  0.672000  0.475921

Увелиим долю P

In [38]:
U_train = U.sample(n = 4000)
U_train['Exited'] = 0
df_UP = df_merged = P.append(U_train, ignore_index=True)
#разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(df_UP, df_UP['Exited'], random_state=0)
feature_processing = Pipeline([('feats', feats)])
pipeline = Pipeline([
    ('features', feats),
    ('classifier', CatBoostClassifier(random_state=42, verbose = False)),
])
# обучим модель
pipeline.fit(X_train, y_train)
#наши прогнозы для тестовой выборки
preds_boost = pipeline.predict_proba(X_test)[:, 1]

precision_RNS_3, recall_RNS_3, thresholds_RNS_3 = precision_recall_curve(y_test, preds_boost)
b=1
fscore_RNS_3 = (1+b**3)*(precision_RNS_3 * recall_RNS_3) / (b**2*precision_RNS_3 + recall_RNS_3)

# fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix_RNS_3 = np.argmax(fscore_RNS_3)
print('Best Threshold=%f, F-Score=%.3f, Precision=%.3f, Recall=%.3f' % (thresholds_RNS_3[ix_RNS_3], 
                                                                        fscore_RNS_3[ix_RNS_3],
                                                                        precision_RNS_3[ix_RNS_3],
                                                                        recall_RNS_3[ix_RNS_3]))

Best Threshold=0.289696, F-Score=0.544, Precision=0.480, Recall=0.627

In [39]:
# Запишем метрики в словарь
metrics = {
    'Variant': [
    'Basic',
    'RNS_5000',
    'RNS_6000',
    'RNS_4000'
    ],
    'precision': [precision[ix], precision_RNS[ix_RNS], precision_RNS_2[ix_RNS_2], precision_RNS_3[ix_RNS_3]],
    'recall': [recall[ix], recall_RNS[ix_RNS], recall_RNS_2[ix_RNS_2], recall_RNS_3[ix_RNS_3]],
    'f_score': [fscore[ix], fscore_RNS[ix_RNS], fscore_RNS_2[ix_RNS_2], fscore_RNS_3[ix_RNS_3]]
     }

In [40]:
metrics

{'Variant': ['Basic', 'RNS_5000', 'RNS_6000', 'RNS_4000'],
 'precision': [0.6611570247933884,
  0.46226415094339623,
  0.3684210526315789,
  0.47962382445141066],
 'recall': [0.6286836935166994, 0.6, 0.672, 0.6270491803278688],
 'f_score': [0.6445115810674723,
  0.5222024866785079,
  0.47592067988668557,
  0.5435168738898757]}

In [41]:
pd.DataFrame(metrics)

    Variant  precision    recall   f_score
0     Basic   0.661157  0.628684  0.644512
1  RNS_5000   0.462264  0.600000  0.522202
2  RNS_6000   0.368421  0.672000  0.475921
3  RNS_4000   0.479624  0.627049  0.543517

Вывод: видим, что при увеличении доли P, точность прогноза возрастает